.menu-projetos--corpo{
    background-color:var(--cor-background);
}

.menu-projetos--titulo{
    font-size: 32px;
    color: var(--cor-azul__claro);
    text-align: center;
    padding-top: 100px;
    margin-bottom: 40px;
}

.menu-projetos{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 80px;
}