.card {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--cor-verde__medio);
}

.aberto {
  top: 20%;
  z-index: 2;
  width: auto;
  left: 300px;
  right: 300px;
  padding: 20px;
  padding-bottom: 80px;
  position: fixed;
  box-sizing: border-box;
}

.fechado:hover {
  cursor: pointer;
  transform: translateY(-20px);
}

.fechado {
  width: 25%;
  height: 18vw;
  padding: 20px;
  transform: translateY(-10px);
  transition: transform 0.3s ease-out;
}


.card_background {
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  position: fixed;
  background-color: rgba(17, 50, 38, 0.915);
}

.card_background:hover {
  cursor: pointer;
}

.logo-projeto {
  width: 50px;
  height: auto;
  display: flex;
  filter: hue-rotate(9deg);
  color: var(--cor-detalhes-verde);
}

.Icon{
  width: 35px;
  height: 35px;
  display: flex;
  margin-top: 15%;
  margin-left: 50%;
  color: var(--cor-detalhes-verde);
}

.icon-aberto{
  width: 35px;
  height: 35px;
  display: flex;
  margin-left: 50%;
  color: var(--cor-detalhes-verde);
}

.Icon:hover{
  cursor: pointer;
  animation: jump 0.75s;
}

.logoConteinerOpenned{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

.logoConteinerClosed{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.closeButton {
    color: var(--cor-detalhes-verde);
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px
}
.closeButton:hover{ 
  cursor: pointer;
}

.card-titulo {
  color: var(--cor-detalhes-verde);
}

.card-descricao {
  color: var(--cor-texto__claro);
  text-align: start;
}

.card--texto__expandido {
  text-align: start;
  line-height: 150%;
  padding-right: 1rem;
  color : var(--cor-texto__claro)
}

.card--texto__envolvidos {
  display: flex;
  flex-direction: row;
}
.carrosel{
    max-width: 350px;
    height: 300px;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); 
  }
  100% {
    transform: translateY(0); 
  }
}

@media (max-width: 1370px){
  .aberto{
    top:25%
  }
}

@media (max-width: 1200px) {
  .card {
    height: auto;
  }
  .aberto{
    top: 13%;
    height: 78vh;
  }
  .card--texto__expandido{
    line-height: 140%;
  }

}

@media (max-width: 950px) {
  .fechado {
    height: auto;
    width: 80vh;
  }

  .aberto {
    top: 10%;
    left: 10%;
    right: 10%;
    z-index: 2;
    width: auto;
    height: 90vh;
    padding: 20px;
    padding-top: 40px;
    position: fixed;
  }

  .scrowSpace {
    height: 80%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }

  .card--texto__expandido{
    height: auto;
    line-height: 118%;
  }

}

@media (max-width: 375px) {
  .card {
    min-height: auto;
  }

  .scrowSpace {
    height: 50%;
  }

  .aberto {
    width: auto;
    height: 80vh;
  }
  .fechado {
    height: auto;
    width: auto;
  }
}