.card {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--cor-verde__medio);
  overflow: hidden; 
}

.aberto {
  top: 20vh;
  z-index: 2;
  width: auto;
  max-height: 25rem;
  height: auto;
  left: 300px;
  overflow: auto;
  right: 300px;
  padding: 1rem 1rem 0 1rem;
  position: fixed;
  box-sizing: border-box;
}

.aberto::-webkit-scrollbar {
  width: 12px;
}

.aberto::-webkit-scrollbar-track {
  background: var(--cor-background);
}

.aberto::-webkit-scrollbar-thumb {
  background-color: var(--cor-verde__claro);
  border-radius: 20px;
  border: 3px solid var(--cor-background);
}

.no-scroll {
  overflow: hidden;
}

.fechado:hover {
  cursor: pointer;
  transform: translateY(-20px);
}

.fechado {
  width: 25%;
  height: 18vw;
  padding: 20px;
  transform: translateY(-10px);
  transition: transform 0.3s ease-out;
}

.card_background, .suport_background {
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 50, 38, 0.915);
}

.card_background:hover {
  cursor: pointer;
}

.logo-projeto {
  width: 2.5rem;
  height: auto;
  display: flex;
  filter: hue-rotate(9deg);
  color: var(--cor-detalhes-verde);
}

.Icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  margin-top: 15%;
  margin-left: 50%;
  color: var(--cor-detalhes-verde);
}

.icon-aberto {
  width: 2rem;
  height: 2rem;
  display: flex;
  margin-left: 50%;
  color: var(--cor-detalhes-verde);
}

.Icon:hover {
  cursor: pointer;
  animation: jump 0.75s;
}

.logoConteinerOpenned, .logoConteinerClosed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logoConteinerClosed {
  align-items: center;
  width: 100%;
}

.closeButton {
  color: var(--cor-detalhes-verde);
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  z-index: 10;
}

.closeButton:hover { 
  cursor: pointer;
}

.card-titulo {
  color: var(--cor-detalhes-verde);
}

.card-descricao, .card--texto__expandido {
  color: var(--cor-texto__claro);
}

.card--texto__expandido {
  text-align: justify;
  line-height: 150%;
}

.card--texto__envolvidos {
  display: flex;
  flex-direction: row;
}

.carrosel {
  max-width: 350px;
  height: auto;
}

@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

@media (max-width: 2750px) {
  .card { height: auto; }
  .aberto {
    left: 30%;
    right: 30%;
    max-height: 65vh;
  }
}

@media (max-width: 2190px) {
  .card { height: auto; }
  .aberto {
    left: 30%;
    right: 30%;
    max-height: 70vh;
  }
}

@media (max-width: 1614px) {
  .card { height: auto; }
  .aberto {
    left: 25%;
    right: 25%;
  }
  .card--texto__expandido {
    line-height: 140%;
  }
  .card-titulo {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .aberto {
    left: 20%;
    right: 20%;
  }
  .card-titulo { font-size: 1.5rem; }
}

@media (max-width: 860px) {
  .card-titulo { font-size: 1.2rem; }
}

@media (max-width: 768px) {
  .fechado {
    width: 80vw;
  }
  .aberto {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
  }
  .card-titulo { font-size: 1.5rem; }
  .card--texto__expandido {
    line-height: 118%;
  }
}

@media (max-width: 500px) {
  .card-titulo { font-size: 1.2rem; }
}

@media (max-width: 405px) {
  .card--texto__expandido {
    line-height: 110%;
    font-size: 15px;
  }
  .card-titulo { font-size: 1rem; }
}

@media (max-width: 345px) {
  .card--texto__expandido {
    line-height: 110%;
  }
  .card-titulo { font-size: 0.8rem; }
}

@media (max-height: 900px) {
  .aberto {
    max-height: 80vh;
  }
}

@media (max-height: 760px) {
  .aberto {
    max-height: 85vh;
  }
}

@media (max-height: 710px) {
  .aberto {
    max-height: 95vh;
  }
}