.card {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--cor-verde__medio);
  overflow: hidden; 
}

.aberto {
  top: 20%;
  z-index: 2;
  width: auto;
  max-height: 370px;
  left: 300px;
  overflow: auto;
  right: 300px;
  padding: 20px;
  padding-bottom: 80px;
  position: fixed;
  box-sizing: border-box;
}

.aberto::-webkit-scrollbar {
  width: 12px;
}

.aberto::-webkit-scrollbar-track {
  background: var(--cor-background);
}

.aberto::-webkit-scrollbar-thumb {
  background-color: var(--cor-verde__claro);
  border-radius: 20px;
  border: 3px solid var(--cor-background);
}

.fechado:hover {
  cursor: pointer;
  transform: translateY(-20px);
}

.fechado {
  width: 25%;
  height: 18vw;
  padding: 20px;
  transform: translateY(-10px);
  transition: transform 0.3s ease-out;
}


.card_background {
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 50, 38, 0.915);
}

.suport_background {
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 50, 38, 0.915);
}

.card_background:hover {
  cursor: pointer;
}

.logo-projeto {
  width: 50px;
  height: auto;
  display: flex;
  filter: hue-rotate(9deg);
  color: var(--cor-detalhes-verde);
}

.Icon{
  width: 35px;
  height: 35px;
  display: flex;
  margin-top: 15%;
  margin-left: 50%;
  color: var(--cor-detalhes-verde);
}

.icon-aberto{
  width: 35px;
  height: 35px;
  display: flex;
  margin-left: 50%;
  color: var(--cor-detalhes-verde);
}

.Icon:hover{
  cursor: pointer;
  animation: jump 0.75s;
}

.logoConteinerOpenned{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

.logoConteinerClosed{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.closeButton {
    color: var(--cor-detalhes-verde);
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px
}
.closeButton:hover{ 
  cursor: pointer;
}

.card-titulo {
  color: var(--cor-detalhes-verde);
}

.card-descricao {
  color: var(--cor-texto__claro);
  text-align: start;
}

.card--texto__expandido {
  text-align: start;
  line-height: 150%;
  padding-right: 1rem;
  color : var(--cor-texto__claro)
}

.card--texto__envolvidos {
  display: flex;
  flex-direction: row;
}
.carrosel{
    max-width: 350px;
    height: auto;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); 
  }
  100% {
    transform: translateY(0); 
  }
}

@media(max-width: 2750px){
  .card{
    height: auto;
  }
  .aberto{
    height: auto;
    top: 20%;
    left: 30%;
    right: 30%;
  }
}

@media(max-width: 2190px){
  .card {
    height: auto;
  }

  .aberto{
    height: auto;
    max-height: 375px;
    top: 20%;
    left: 30%;
    right: 30%;
  }
}

@media(max-width: 2190px) and (min-height: 600px){
  .aberto{
    top: 25vh;
  }
}

@media(max-width: 2190px) and (min-height: 700px){
  .aberto{
    top: 27vh;
  }
}

@media(max-width: 2190px) and (min-height: 800px){
  .aberto{
    top: 32vh;
  }
}


@media (max-width: 1613px) {
  .card {
    height: auto;
  }
  .aberto{
    top: 25vh;
    left: 25%;
    right: 25%;
    height: auto;
  }
  .card--texto__expandido{
    line-height: 140%;
  }

}

@media (max-width: 1613px) and (min-height: 700px){
  .aberto {
    top: 30vh;
  }
}

@media (max-width: 1613px) and (min-height: 800px){
  .aberto {
    top: 34vh;
  }
}

@media (max-width: 1614px) and (max-height: 600px) {
  .card {
    height: auto;
  }
  .aberto {
      top: 18vh;
      left: 20%;
      right: 20%;
      bottom: 5%;
      height: auto;
      max-height: 370px;
      overflow-y: auto; 
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .card {
    height: auto;
  }
  .aberto {
      top: 18vh;
      left: 20%;
      right: 20%;
      bottom: 5%;
      height: auto;
      max-height: 370px;
      overflow-y: auto; 
  }
}

@media (max-width: 950px) {
  
  .fechado {
    height: auto;
    width: 80vh;
  }

  .aberto {
    top: 21vh;
    left: 20%;
    right: 20%;
    z-index: 2;
    width: auto;
    height: 75vh;
    max-height: 575px;
    padding: 20px;
    padding-top: 40px;
    position: fixed;
  }

  .card--texto__expandido{
    height: auto;
    line-height: 118%;
  }
}

@media (max-width: 450px) {
  .card {
    min-height: auto;
  }

  .aberto {
    top: 21vh;
    width: auto;
    height: 60vh;
    padding: 5vw;
  }
  .fechado {
    height: auto;
    width: auto;
  }
}

@media (max-width: 376px) {
  .card {
    min-height: auto;
  }

  .scrowSpace {
    height: 40%;
  }

  .aberto {
    width: auto;
    height: 70%;
    padding: 5vw;
  }
  .fechado {
    height: auto;
    width: auto;
  }
  .card--texto__expandido{
    height: auto;
    line-height: 110%;
    font-size: 15px;
  } 
}

