body {
    margin: auto;
    max-width: 1920px;
    background-color: var(--cor-background);
}

.faq--caixa__perguntas {
    margin-bottom: 40px;
}


.Collapsible__trigger {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    cursor: pointer;
    font-size: 18px;
    margin: 0px 80px;
    text-indent: 10px;
    flex-direction: row;
    color: var(--cor-detalhes-verde);
    background-color: var(--cor-verde__medio);
    border-bottom: 2px solid var(--cor-verde__claro);
}

.Collapsible__contentInner {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    margin: 0px 80px;
    flex-direction: row;
    background-color: var(--cor-verde__medio);
    border-bottom: 2px solid var(--cor-verde__claro);
}

.faq-resposta {
    color: var(--cor-texto);
    text-align: left;
}

@media (max-width: 1000px) {
    .faq--corpo{
        margin-top: 10%;
        margin-bottom: 20%;
    }
    .Collapsible__trigger {
        margin: 0px 60px;
    }

    .Collapsible__contentInner {
        margin: 0px 60px;
    }
}

@media (max-width: 950px) {
    .Collapsible__trigger {
        margin: 0px 50px;
    }

    .Collapsible__contentInner {
        margin: 0px 50px;
    }
}

@media (max-width: 300px) {
    .Collapsible__trigger {
        margin: 0px 40px;
    }

    .Collapsible__contentInner {
        margin: 0px 40px;
    }
}