.cabecalho {
    align-self: center;
}

.texto {
    color: var(--cor-texto);
    line-height: 1.5em;
    max-width: 1025px;
    
    font-size: 20px;
    text-align: justify; 
}

@media screen and (min-width:2000px){
    .texto{
        font-size: 30px;
        max-width: 1550px;
    }
}