.cabecalho {
    padding:5%;
    align-self: center;
}


.titulo {
    color: var(--cor-azul__claro);
    margin-bottom: 60px;
    text-align: center;
}


.texto {
    color: var(--cor-texto);
    line-height: 1.5em;
    max-width: 1025px;
    
    font-size: 20px;
    text-align: justify; 
}

@media screen and (min-width:2000px){
    .titulo{
        font-size: 60px;
    }
    .texto{
        font-size: 30px;
        max-width: 1550px;
    }
}