.inscricao {
    color: var(--cor-detalhes-azul);
    display: flex;
    flex-wrap: wrap;
    margin-left: 50%;
}

.titulo {
    color: var(--cor-azul__claro);
    font-size: 26px;
}

.titulo::before {
    color: var(--cor-detalhes-azul);
}

.texto {
    color: var(--cor-texto);
    line-height: 1.5em;
    font-size: 20px;
    text-align: justify;  
}

.download {
    border: 2px solid var(--cor-detalhes-azul);
    width: 20px;
    height: 20px;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}
.encerrado {
    color: lightpink;
    text-decoration: line-through;
}

.email {
    color: var(--cor-detalhes-azul);
    text-decoration: none;
}

.email--link:hover {
    color: var(--cor-azul__claro);
}
@media screen and (min-width:2000px){
    .titulo{
        font-size: 40px;
    }
    .texto{
        font-size: 30px;
    }
    .download{
        padding:30px;
        height:30px;
        padding: 30px;
    }
}