.card {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--cor-azul__medio);
}

.aberto {
  width: auto;
  padding: 20px;
  position: fixed;
  top: 100px;
  right: 300px;
  left: 300px;
  z-index: 2;
}

.fechado:hover {
  cursor: pointer;
  transform: translateY(-20px);
}

.fechado {
  width: 25%;
  height: 40vh;
  padding: 20px;
  transform: translateY(-10px);
  transition: transform 0.3s ease-out;
}

.card_background {
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  z-index: 1;
  background-color: rgba(23, 8, 37, 0.915);
}

.logo-projeto {
  width: 50px;
  height: auto;
}

.Icon{
  width: 35px;
  height: auto;
  display: flex;
  margin-top: 15%;
  margin-left: 50%;
  color: var(--cor-detalhes-azul);
}

.Icon:hover{
  cursor: pointer;
  animation: jump 0.75s;
}

.logoConteiner{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-titulo {
  color: var(--cor-detalhes-azul);
}

.card-descricao {
  color: var(--cor-texto__claro);
  text-align: start;
}

.card--texto__expandido {
  text-align: start;
  line-height: 150%;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.card--texto__envolvidos {
  display: flex;
  flex-direction: row;
}


@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); 
  }
  100% {
    transform: translateY(0); 
  }
}

@media (max-width: 1200px) {
  .card {
    height: auto;
  }
}

@media (max-width: 950px) {
  .card {
    width: auto;
  }

  .fechado {
    height: 40vh;
  }

  .aberto {
    width: auto;
    height: 75vh;
    padding: 20px;
    position: fixed;
    top: 15%;
    right: 10%;
    left: 10%;
    z-index: 2;
  }

  .scrowSpace {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    height: 60%;
  }

}

@media (max-width: 300px) {
  .card {
    min-height: auto;
  }

  .scrowSpace {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    height: 50%;
  }

  .aberto {
    width: auto;
    padding: 20px;
    position: fixed;
    top: 15%;
    right: 10%;
    left: 10%;
    z-index: 2;
  }
}