.title{
    margin: 0px;
    font-size:32px;
    color: var(--cor-texto);
    margin-left: 5%;
}

.text {
    text-align: justify;
    color: var(--cor-texto);
    font-size: 24px;
    margin-left: 5%;
    
  }
