.card {
    width: auto;
    row-gap: 1px;
    display: flex;
    column-gap: 0px;
    align-items: center;
    flex-direction: column;
    height:  calc(230px * 3/5);
    justify-content: space-evenly;
    padding-top: calc(23px * 3/5);
    padding-left:  calc(8px * 3/5);
    padding-bottom:  calc(5px * 3/5);
    padding-right:  calc(10px * 3/5);
    max-width: calc(100% / 5.5 - 10px);
    flex-basis: calc(100% / 5.5 - 100px); 
  }
.descricao{
    display: block;
}

div.card > a:first-child{
  position: relative;
  border-radius: 500px;
  max-width:  calc(125px * 3/5);
  max-height:  calc(125px * 3/5);
}

.img:hover {
    filter: blur(5px) grayscale(50%);
}

.img{
  transition: 0.5s;
  border-radius: 500px;
  border: 1px solid black;
  width:  calc(125px * 3/5);
  height:  calc(125px * 3/5);
}

.githubFilterImage{
  top: 50%;
  left: 50%;
  opacity: 0.0;
  transition: 0.5s;
  position: absolute;
  border-radius: 500px;
  height: calc(125px * 3/5);
  width: calc(125px * 3/5);
  transform: translate(-50%, -50%); 
}

.githubFilterImage:hover {
  opacity: 1;
}


.githubIcon {
  
  top: 50%;
  left: 50%;
  transition: 0.5s;
  position: absolute;
  border-radius: 500px;
  max-width: calc(125px * 3/5);
  max-height: calc(200px * 3/5);
  transform: translate(-50%, -50%);
}

p {
  font-size: 16px;
  text-align: center;
  margin: calc(5px * 3/5);
  color: var(--cor-detalhes-azul);
}

.iconsContainer {  
    display: block;
    align-items: center;
    margin-top: auto 3px;
    justify-content: center;
}

.icon {    
  width: 32px;
  height: 30px;
  padding: 10px;
  color: var(--cor-azul__claro);
}

@media (max-width: 1523px) {
  .card {
    flex-basis: calc(100% / 6 - 30px); 
    max-width: calc(100% / 6 - 30px);
  }
}
  
@media (max-width: 800px) {
  .card {
    flex-basis: calc(100% / 4 - 20px); 
    max-width: calc(100% / 4 - 20px);
  }
}

@media (max-width: 560px) {
  .card {
    flex-basis: calc(100% / 3 - 20px); 
    max-width: calc(100% / 3  - 20px);
  }
}

@media (max-width: 320px) {
  .card {
    flex-basis: calc(100% / 2 - 20px); 
    max-width: calc(100% / 2  - 20px);
  }
}

@media (max-width: 250px) {
  .card {
    flex-basis: calc(100% / 1 - 20px); 
    max-width: calc(100% / 1  - 20px);
  }
}

