.card {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  column-gap: 0px;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  margin-bottom: 25px;
  margin-top: 45px;
  padding-left: 8px;
  padding-right: 10px;
  height: 200px;
  flex-basis: calc(100% / 4.9 - 100px);
  max-width: calc(100% / 4.9 - 10px);
}

.descricao {
  display: block;
}

.imgContainer {
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.iconWrapper {
  font-size: 30PX;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  
}

.imgContainer:hover .iconWrapper {
  opacity: 1;
}

.githubIcon,
.linkedinIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 10px;
  color: var(--cor-azul__claro);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.githubIcon:hover,
.linkedinIcon:hover {
  color: var(--cor-detalhes-azul);
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto 3px;
}

p {
  font-size: 16px;
  margin: 5px;
  color: var(--cor-detalhes-azul);
  text-align: center;
}

@media (max-width: 1360px) {
  .card {
    flex-basis: calc(100% / 4 - 40px);
    max-width: calc(100% / 4 - 40px);
  }
}

@media (max-width: 1200px) {
  .card {
    flex-basis: calc(100% / 3 - 30px);
    max-width: calc(100% / 3 - 30px);
  }
}

@media (max-width: 768px) {
  .card {
    flex-basis: calc(100% / 2 - 20px);
    max-width: calc(100% / 3 - 20px);
  }
}

@media screen and (max-width: 560px) {
  .card {
    flex-basis: calc(100% / 2 - 10px);
    max-width: calc(100% / 2 - 10px);
  }
}
