.card {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    column-gap: 0px;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin-bottom: 25px;
    margin-top: 45px;
    padding-left: 8px;
    padding-right: 10px;
    height: 170px;
    
    flex-basis: calc(100% / 4.9 - 100px); 
    max-width: calc(100% / 4.9 - 10px);
  }
.descricao{
    display: block;
}

div.card > a:first-child{
  max-width: 125px;
  max-height: 125px;
  position: relative;
  border-radius: 500px;
}

.img:hover {
    filter: blur(5px) grayscale(50%);
}

.img{
    width: 125px;
    height: 125px;
    border-radius: 500px;
    transition: 0.5s;
    border: 1px solid black;
}

.githubFilterImage{
  width: 125px;
  height: 125px;
  border-radius: 500px;
  transition: 0.5s;
  opacity: 0.0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centralizando o elemento */
}

.githubFilterImage:hover {
  opacity: 1;
}


.githubIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 125px;
  max-height: 200px;
  border-radius: 500px;
  transition: 0.5s;
}

p {
    font-size: 16px;
    margin: 5px;
    color: var(--cor-detalhes-azul);
    text-align: center;
}

.iconsContainer {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto 3px;
}

.icon {
    
  height: 30px;
  width: 32px;
  padding: 10px;
  color: var(--cor-azul__claro);
}

@media (max-width: 1360px) {
  .card {
    flex-basis: calc(100% / 4 - 40px); /* 3 cards por linha em telas médias */
    max-width: calc(100% / 4 - 40px);
  }
}

@media (max-width: 1200px) {
    .card {
      flex-basis: calc(100% / 3 - 30px); /* 3 cards por linha em telas médias */
      max-width: calc(100% / 3 - 30px);
    }
  }
  
  @media (max-width: 768px) {
    .card {
      flex-basis: calc(100% / 2 - 20px); /* 2 cards por linha em telas menores */
      max-width: calc(100% / 3 - 20px);
    }
  }

  @media screen and (max-width: 560px){
    .card {
      flex-basis: calc(100%/ 2 - 10px);
      max-width: calc(100%/ 2 - 10px);
    }
  }
