.card{
    box-sizing: border-box;
    background-color: var(--cor-azul__medio);
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease-out;
    transform: translateY(-10px);
}

.card:hover {
    transform: translateY(-20px);
    cursor: pointer;
  }

.logo-projeto{
height: 50px;
}

.card-titulo{
    color: var(--cor-azul__claro);
}

.card-descricao{
    color: var(--cor-texto__claro);
}

.card--texto__espancao{
    padding-bottom: 1rem;
    padding-right: 1rem;
    line-height: 150%;
}
