.card{
    height: 35vh;
    width: 25%;
    background-color: var(--cor-azul__medio);
    margin-left: 20px;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease-out;
    transform: translateY(-10px);
}

.card:hover {
    transform: translateY(-20px);
    cursor: pointer;
  }

.card img{
height: 20%;
}

.card-titulo{
    color: var(--cor-azul__claro);
}

.card-descricao{
    color: var(--cor-texto__claro);
}
