.home {
  background-color: var(--cor-background);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items:flex-start;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-top: 0;
  
}
.headerContender{
  align-items:center;
  display: flex;
  width: 80%;
  height: 100vh;
  margin-left: 5%;
  margin-top:0%;
}

@media (max-width: 1400px) {
  .headerContender{
    margin-top:-3%;
    margin-left: 8%;
  }
  
}

@media(max-width:1200px){
  .headerContender{
    margin-top: -10%;
    margin-left:8%;
  }
}



@media(max-width:640px){
  .headerContender{
    margin-left:-5%;
    flex-direction: column;
  }
}

@media(max-width:400px){
  .headerContender{
    margin-left:-2%;
    flex-direction: column;
  }
}