.home {
  background-color: var(--cor-background);
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5%;
  padding-bottom: 5%;
  margin-top: 4%;
  align-items: flex-start;
}
.headerContender{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
