.container-carousel{
    width:100%;
    max-width: 350px;
    max-height: 200px;
    margin: 0 auto;
    position: relative;

}
.carousel-item{
    width: 100%;
}
.carousel-item img {
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
  }
.swiper-button-next:after, .swiper-button-prev:after {
    color:  var(--cor-detalhes-verde);
}
:root {
    --swiper-pagination-color: var(--cor-verde__medio);
    --swiper-pagination-bullet-inactive-color: var(--cor-detalhes-verde);
    --swiper-pagination-bullet-inactive-opacity: 0.5;
    --swiper-navigation-size: 20px;
    --swiper-pagination-bottom: 10px;
    --swiper-pagination-top: auto;
}

.swiper-pagination {
    bottom: var(--swiper-pagination-bottom) !important;
}


@media (max-width: 850px) {
    .container-carousel {
        max-width: 200px;
    }
    :root {
        --swiper-navigation-size: 20px; 
        --swiper-pagination-bottom: 3vw;
        --swiper-pagination-top: auto;
    }
      
      .swiper-pagination-fraction, 
      .swiper-pagination-custom, 
      .swiper-horizontal > .swiper-pagination-bullets, 
      .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: var(--swiper-pagination-bottom);
      }
}

@media (max-width: 450px) {
    :root {
        --swiper-navigation-size: 20px; 
        --swiper-pagination-bottom: 2vw; 
        --swiper-pagination-top: auto;
    }
}


@media (max-width: 1300px) {
    :root {
        --swiper-navigation-size: 20px; 
        --swiper-pagination-bottom: 3vw; 
        --swiper-pagination-top: auto;
        --swiper-pagination-bullet-size: 10px; 

    }
}

@media (max-width: 2560px) {
    :root {
        --swiper-navigation-size: 20px; 
        --swiper-pagination-bottom: 4vh; 
        --swiper-pagination-top: auto;
        --swiper-pagination-bullet-size: 6px; 

    }
}

