.scroll-arrow {
    position: fixed;
    bottom: 20px;
    right: 50%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-arrow.visible {
    opacity: 1;
    visibility: visible;
    transform: rotate(45deg);
}

.arrow {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid var(--cor-texto__claro);
    border-right: 4px solid var(--cor-texto__claro);
    transform: rotate(45deg);
    transition: border-color 0.3s, transform 0.3s;
    animation: bounce 1s infinite;
}

.scroll-arrow:hover .arrow {
    border-color: #888;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 767px) {

    .scroll-arrow {
        right: 50%;
        transform: translateX(20%);
    }
}