.imgContender{
    display: flex;
    position :static;
    align-items: center;
    max-width:400px;
    max-height: 20%;
    margin: auto;
  }

  
  @media (max-width: 1200px)
  {
    .imgContender{
      margin-top: 30%;
      margin-left: -35%;
      width: 200px;
    }
  }


  @media(max-width:400px){
    .imgContender{
      left: 18%;
    }
  }
 