.imgContender{
    display: flex;
    position :relative;
    align-items: center;
    padding-top: 3.5%;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    height: auto;
    max-height: 20%;
    left:20%;
    top:-15%;
  }

  @media(max-width:400px){
    .imgContender{
      left: 18%;
    }
  }
 