.equipe--corpo {
  background-color: var(--cor-background);
  margin: auto;
  min-height: 80vh;
  max-width: 1920px;
  display: flex;
  flex-direction: column;

}

.equipe--titulo {
  font-size: 32px;
  color: var(--cor-azul__claro);
  text-align: center;
  margin: 0px;
}

.equipe--tutor,
.equipe--alunos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.equipe--tutores>.card,
.equipe--alunos>.card {
  flex-basis: calc(100% / 6 - 10px);

  max-width: calc(100% / 6 - 10px);

}

.EquipeCollapsible {
  font-size: 32px;
  color: var(--cor-azul__claro);
  text-align: center;
  padding: 15px;
  margin: 0px;
}


@media (max-width: 1200px) {

  .equipe--tutores>.card,
  .equipe--alunos>.card {
    flex-basis: calc(100% / 3 - 10px);

    max-width: calc(100% / 3 - 10px);
  }
}

@media (max-width: 768px) {

  .equipe--tutores>.card,
  .equipe--alunos>.card {
    flex-basis: calc(100% / 2 - 10px);

    max-width: calc(100% / 2 - 10px);
  }
}

