.equipe--corpo {
  background-color: var(--cor-background);
}

.equipe--titulo-tutor {
  font-size: 32px;
  color: var(--cor-azul__claro);
  text-align: center;
  padding-top: 100px;
  margin: 0px;
}


.equipe--titulo {
  font-size: 32px;
  color: var(--cor-azul__claro);
  text-align: center;
  padding: 15px;
  margin: 0px;
}

.equipe--tutor,
.equipe--alunos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.equipe--tutores>.card,
.equipe--alunos>.card {
  flex-basis: calc(100% / 6 - 10px);
  /* Largura de cada card */
  max-width: calc(100% / 6 - 10px);
  /* Largura máxima de cada card */
}

@media (max-width: 1200px) {

  .equipe--tutores>.card,
  .equipe--alunos>.card {
    flex-basis: calc(100% / 3 - 10px);
    /* Para 3 colunas em telas médias */
    max-width: calc(100% / 3 - 10px);
  }
}

@media (max-width: 768px) {

  .equipe--tutores>.card,
  .equipe--alunos>.card {
    flex-basis: calc(100% / 2 - 10px);
    /* Para 2 colunas em telas menores */
    max-width: calc(100% / 2 - 10px);
  }
}

.EquipeCollapsible {
  font-size: 32px;
  color: var(--cor-azul__claro);
  text-align: center;
  padding: 15px;
  margin: 0px;
}
