.equipe--corpo {
  margin: auto;
  display: flex;
  max-width: 1920px;
  flex-direction: column;
  background-color: var(--cor-background);

}

.equipe--titulo {
  margin: 0px;
  font-size: 32px;
  text-align: center;
  color: var(--cor-azul__claro);

}

.equipe--tutor,
.equipe--alunos {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.equipe--tutores>.card,
.equipe--alunos>.card {
  flex-basis: calc(100% / 6 - 10px);

  max-width: calc(100% / 6 - 10px);

}

.EquipeCollapsible {
  margin: 0px;
  padding: 15px;
  font-size: 32px;
  text-align: center;
  color: var(--cor-azul__claro);
  font-weight: bold;

}


@media (max-width: 1200px) {

  .equipe--tutores>.card,
  .equipe--alunos>.card {
    flex-basis: calc(100% / 3 - 10px);

    max-width: calc(100% / 3 - 10px);
  }
}

@media (max-width: 768px) {

  .equipe--tutores>.card,
  .equipe--alunos>.card {
    flex-basis: calc(100% / 2 - 10px);

    max-width: calc(100% / 2 - 10px);
  }
}

