.PETLogo {
  width: 250px;
  display: flex;
  height: auto;
  align-self:center;
}

@media screen and (max-width:490px){
  .PETLogo{
    width: 180px;
    margin-top: 5%;
  }
}

@media screen and (max-width:340px){
  .PETLogo{
    width: 150px;
  }
}

@media screen and (max-width:298px){
  .PETLogo{
    width: 100px;
  }
}