.PETLogo{
    margin-top: 0;
    width: 300px;
    height: auto;
    position:relative;
    left: 20%;
    top: -15%;

  }

  @media(min-width: 2000px) {
    .PETLogo{
      margin-left: 5%;
      margin-top: 0%;
  
    }
    
  }

  @media(max-width:1400px){
    .PETLogo{
      width: 250px;
      height: auto;
      margin-left: 0%;
      margin-top: 0%
    }

  }

  @media(max-width:1200px){

  .PETLogo{
    width: 200px;
    height: auto;
    margin-left: 5%;
    margin-top: 3 %
  }
  
  }
  @media (max-width: 900px) {
    .PETLogo{
      width: 180px;
      height: auto;
      margin-left: 3%;
      top: -13%;
    }
  }

  @media(max-width:640px){
    .PETLogo{
      width: 150px;
      height: auto;
      margin-left:-20%;
      margin-top:30%
    }
  }


@media(max-width:400px){
  .PETLogo{
    width: 120px;
    height: auto;
    margin-left: -20%;
    top: -5%;
  }
}