
.corpo {
    background-color: var(--cor-background);
    margin: auto;
    min-height: 80vh;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

a{
    text-decoration: none;
}
.corpo_informacoes{
    max-width: 1050px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    margin-bottom: 25vh;
    align-self: center;
}

@media (max-width: 1200px) {

    .corpo{
        padding-top: 0;
    }
}
