.card {
    display:flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    background-color: var(--cor-azul__medio);
    padding-top: 35px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: 200px;
    
}

.img:hover {
    filter: saturate(100%);
    transform: scale(1.1);
}

.img{
    filter: saturate(50%);
    max-width: 125px;
    max-height: 200px;
    border-radius: 500px;
    transition: 0.5s;
}


p {
    font-size: 18px;
    margin: 5px;
    color: var(--cor-texto__claro);
    text-align: center;
}

.iconsContainer {  
    display: flex;
    flex-direction: row;
}

.icon {
    height: 32px;
    width: 32px;
    padding: 10px;
    color: var(--cor-azul__claro);
}