.card {
    display:flex;
    flex-direction: column;
    row-gap: 11px;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    background-color: var(--cor-azul__medio);
    padding-top: 23px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 10px;
    border-radius: 10px;
    width: 160px;
    height: 328px;
    
}
.descricao{
    display: block;
}
.img:hover {
    filter: saturate(100%);
    transform: scale(1.1);
}

.img{
    filter: saturate(50%);
    max-width: 125px;
    max-height: 200px;
    border-radius: 500px;
    transition: 0.5s;
}


p {
    font-size: 16px;
    margin: 5px;
    color: var(--cor-texto__claro);
    text-align: center;
}

.iconsContainer {  
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: auto 3px;
}

.icon {
    
    height: 30px;
    width: 32px;
    padding: 10px;
    color: var(--cor-azul__claro);
}