.homesection {
    display: flex;
    width: 80vw;
    height: fit-content;
    min-width: 80vw;
    min-height: 80vh;
    margin-top: 15px;
    justify-content: center;
  }

@media (max-width:1200px){
  .homesection{
    margin-left: 3%;
  }
}

@media (max-width: 950px){
  .homesection{
    margin-left: 5%;
    margin-bottom: 5%;
  }
}

@media (max-width: 567px){
  .homesection{
    margin-left: 0;
    margin-bottom: 5%;
  }
}

  @media (max-width:480px){
    .homesection{
      margin:auto;
      width:100%;
      margin-bottom:35%;

    }  
    }
    
    @media (max-width: 400px)
    {
      .homesection{
        width: 150%;
        margin-left:0%;
        margin-bottom: 60%;
    
      }
     
    }
    @media (max-width: 300px){
      .homesection{
        margin-top: 100%;
        width: 300%;
        margin-left: 0%;
      }


    }
    