.footer{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.footer p{
    color: var(--cor-detalhes-azul);
}