.footer{
    padding-top: 5%;
     height: 7%;
     margin-bottom: 0;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: flex-start;
    
    background-color: var(--cor-background);
    color:#fff;    
}
.gitIcon{
    font-size: 30px;
    filter: saturate(0%);
    color:var(--cor-azul__claro);
    
}
.gitIcon:hover{
    filter:saturate(100%);
    cursor:pointer;    
}

.footer_content{
    display: flex;
    font-size: 16px;
}