.cabecalho{
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
  }

 .title {
    text-align: center;
    font-size: 48px;
    color: var(--cor-azul__claro);
    margin-bottom: 0;
    margin-top: 0;
    width: 500px;
}

.subtitle{
  text-align: center;
    margin-top: 0;
    font-size:32px;
    color: var(--cor-texto);
    width: 500px;
  }

@media (max-width: 1200px){

}


@media (max-width: 767px)
{
.cabecalho{
  margin-left: 5%;
  
}
}

@media (max-width: 300px)
{
  
}
