.cabecalho {
  display: flex;
  text-align: center;
  justify-content: center;
}

.title {
  font-size: 48px;
  color: var(--cor-azul__claro);
 width: 480px;
}

.subtitle {
  font-size: 30px;
  color: var(--cor-texto);
 width: 480px;
 margin-top: -5%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-evenly;
  align-content: center;
  align-self: center;
  width: 80vw; 
}
@media only screen and (max-width:1200px){
  .container{
    flex-direction: column;  
}
}
@media only screen and (max-width: 490px){
  .title{
    font-size: 240%;
    width: 100%;
    margin: auto;
    justify-self: flex-start;
  }
  .subtitle{
    font-size: 130%;
    width: 100%;
    margin: auto;
    justify-self: flex-start;
  }
}

@media only screen and (max-width: 453px){
  .title{
    font-size: 207%;
  }
  .subtitle{
    font-size: 120%;
  }
}

@media only screen and (max-width: 391px){
  .title{
    font-size: 180%;

  }
  .subtitle{
    font-size: 110%;
  }
}

@media only screen and (max-width: 340px){
  .title{
    font-size: 158%;
  }
  .subtitle{
    font-size: 96%;
  }
}

@media screen and (max-width:298px){
  .title{
    font-size: 137%;
  }
  .subtitle{
    font-size: 85%;
  }
}

@media only screen and (max-width :258px){
  .title{
    font-size: 120%;
  }
  .subtitle{
    font-size: 75%;
  }
}
