.requisitos{
    align-self: flex-start;
}

.titulo_secundario {
    font-size: 26px;
    color: var(--cor-texto);
}

.texto {
    font-size: 20px;
    line-height: 1.5em;
    text-align: justify;  
    color: var(--cor-texto__claro);
}


@media screen and (max-width:1200px){
    .titulo_secundario{
        margin: 2% 2%;
    }
    .texto{
        margin: 0 2%;
    }
}

@media screen and (max-width: 950px){
    .titulo_secundario{
        margin: 2% 4%;
    }
    .texto{
        margin: 0 4%;
        text-align: left;
    }
}
    

