:root{
  --cor-primaria:#081235;
  --cor-secundaria: #cbdbdf;
  --cor-detalhes-azul: #9dcbd4;
}

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: var(--cor-primaria);        
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-secundaria);    
  border-radius: 20px;      
  border: 3px solid var(--cor-primaria);  
}
