:root{
  --cor-background:#191A51;
  --cor-azul__claro: #a3a4f8;
  --cor-detalhes-azul: #4042CF;
  --cor-texto: #5c5d97;
}

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: var(--cor-background);        
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-azul__claro);    
  border-radius: 20px;      
  border: 3px solid var(--cor-background);  
}
body{
  flex: 1 1 0;
}
