.btn {
  display: flex;
  width: auto;
  background-color: var(--cor-azul__claro);
  color: var(--cor-background);
  padding: 16px;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.btn_contender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
}

@media screen and (min-width: 2000px){
 .btn{
  font-size: 2.5rem;
  padding: 2.5rem;
  border-radius: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
 }
}
@media screen and (max-width:770px){
  .btn_contender{
    margin-bottom: 25%;
  }
}
@media screen and (max-width:320px) {
  .btn{
    padding:12px;
    font-size: 12px;
  }
}